@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');


.hero-section{
    /* border: 2px solid white; */
    background-image: url("../../assets/Background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.hero{
    /* border: 2px solid blue; */
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem !important;
}

.hero-left{
    /* border: 2px solid white; */
    width: 60%;
    height: 100%;
    background: linear-gradient(89deg,#191825 0.00%, rgba(25,24,37,0.86 ) 33.85%, rgba(25,24,37,0 ) 100.00%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
    left: 3rem;
    /* padding-left: 70px !important; */
    /* margin-top: 80px !important; */
}

.content{
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 90px;
    font-weight: bold;
    line-height: 90px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.decription{
    width: 100%;
    height: 49px;
    opacity: 0.70;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.buttons{
    width: 100%;
    height: 44px;
    display: flex;
    gap: 20px;
}

.play-btn{
    width: 117px;
    height: 44px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 20px rgba(125,18,255,0.2 ));
    background: #7d12ff
}

.learn-btn{
    width: 132px;
    height: 44px;
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 20px rgba(125,18,255,0.2 ));
    background: rgba(125,18,255,0 )
}

.learn-btn:hover{
    color: #7D12FF !important;
}

.hero-right{
    /* border: 2px solid white; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 3rem !important;
    gap: 40px;
}

.hero-right-img{
    width: fit-content;
    height: fit-content;
    position: relative;
    border-color: rgba(255,255,255,0.6 );
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    filter: drop-shadow(1px 4px 18px rgba(25,24,37,0.32 ));
    background: rgba(255,255,255,0.05 );
    padding: 3px !important;
}

.hero-right-img>img{
    width: 100px;
    height: 100px;
}

.hero-star{
    width: fit-content;
    position: absolute;
    left: 40px;
    bottom: 2px;    
}

.hero-rating{
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: 7px;
}

.hero-star>img{
    width: 14px;
    height: 14px;
}

.hero-rating>p{
    width: fit-content;
    height: 18px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}