@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem !important;
}

.navlink:hover{
    color: #7D12FF !important;
}

.logo{    
    position: relative;
    left: 40px;
    width: 150px;
    height: 80px;
}

.options{
    position: relative;
    right: 70px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.input-box{
    width: 295px;
    height: 44px;
    border-color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 4px;
    background: rgba(255,255,255,0 );   
}

.search-input-box{
    width: 80%;
    height: 44px;
    background: none;
    border: none;
    padding: 10px !important;
}

::placeholder{
    width: 120px;
    height: auto;
    opacity: 0.60;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    position: relative;
    left: 1rem;
}

.search-btn{
    width: 20%;
    height: 30px;
    background: none;
    border: none;
}
