@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

.contact-masterdiv{
    /* border: 2px solid white; */
    width: 100%;
    height: fit-content;
    background: #191825;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem !important;
}

.contact-us{
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactus-left{
    /* border: 2px solid pink; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* gap: 0.5rem; */
}

.contactus-head{
    /* border: 2px solid black; */
    width: 100%;
    height: 50%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 64px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.contactus-body{
    /* border: 2px solid blue; */
    width: 100%;
    height: 50%;
    opacity: 0.60;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.contactus-right{
    /* border: 2px solid blueviolet; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 2.9rem; */
}

.email-input{
    width: 100%;
    height: 60px;
    border-color: rgba(125,18,255,0.6 );
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background: rgba(255,255,255,0.04 );
    position: relative;
    top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-inputbox{
    width: 70%;
    height: 60px;    
    background: none;
    border: none;
    border-style: none;
    border-color: none;
    padding: 10px !important;
}

::placeholder{
    width: 100%;
    height: 18px;
    opacity: 0.60;
    font-family: "Poppins";
    font-size: 15px !important;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.playnow-btn{
    width: 25%;
    height: 44px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 20px rgba(125,18,255,0.2 ));
    background: #7d12ff;
    position: relative;
    /* left: 0.8rem; */
    
}
