@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

.play-master-sec{
    width: 100%;
    background: #191825;
    background: linear-gradient(360deg, #191825 83.85%, rgba(25,24,37,0.25 ) 93.85%, rgba(25,24,37,0 ) 100.00%);
    padding: 5rem 5rem !important;
}
.play-hero{
    background-image: url(../../assets/Background-2.png);
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.5rem;
}

.play-overlay{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    left: 20rem;
    gap: 1rem;
}

.play-heading{
    width: 100%;
height: auto;
font-family: 'Red Hat Display', sans-serif;
font-size: 50px;
font-weight: bold;
line-height: 64px;
font-style: normal;
text-align: left;
color: #ffffff;
}